* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.wrapper-chat-border {
	border-style: dashed;
	border:2px solid black;
	border-radius:5px;
	width:100%;
	height: 85vh;
	background: white;
	margin-top:30px;
	padding: 1px;
	position: relative;
	background: url(img/wrapper_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.wrapper-chat-border-inside {
	border-style: dashed;
	border:2px solid black;
	border-radius:5px;
	width:100%;
	height: 100%;
	background: white;	
	position: relative;
	visibility: hidden;
}

.chatbox-border {
	width:100%;
	height: calc(100% - 260px);
	border-collapse: collapse;	
	/*
	background: url("img/chat-bg.jpg") center;
	background-repeat:no-repeat;
	background-size:cover;	
	*/
	background: #B6CAEA;
}

.typebox-border {
	
	border-style: dashed;
	border:1px solid white;
	border-top:3px solid black;
	border-radius:5px;
	width:100%;
	height: 130px;	
	
	/*
	display: table-row;
	border-collapse: collapse;
	overflow: auto;	 */
	
}

.user-image {
	width: 128px;
	height: 128px;		
	background: url("img/cat-bg.jpg") center;
	background-repeat:no-repeat;
	background-size:cover;
	float: left;
	position: relative;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border:3px solid black;
	
}

.typebox-input {
	resize:none;
	width:calc(90% - 128px);
	height: 100%;
	float:left;
	font-family: Montserrat;
	font-weight: 600;
	font-size: 18px;
	border-right: 1px solid black;
	float: left;
	position: relative;	
	flex-grow: 1;
	padding-left: 15px ;
	padding-right: 15px ;
	padding-top: 10px ;
	padding-bottom: 10px ;
	background: #CED2ED;
}

.typebox-button {
	color: #8D59B9 !important;
	background: #dca9f2 !important;
	border-left:2px solid black !important;
	border-top:1px solid black !important;
	font-size: 20px;
	text-align: center;
	font-weight: 600 !important;
	font-family: Montserrat;
	height: 100%;
	width: 10%; 
	text-align: center;
	float: left;
	position: relative;	
	flex-grow: 1;
}

.text-area {
	resize:none;
	width:100%;
	height: 100%;
	padding:25px;
	font-family: Montserrat;
	font-weight: 600;
	font-size: 18px;	
		
	/*
	display: table-row; */

	
}

.text-area::-webkit-scrollbar {
	width: 10px;	
}

.chatlogs {
	padding: 10px;
	width: 100%;
	height: 100%;
	overflow-x: hidden; overflow-y: scroll;
}


.friend-info {
	border-style: dashed;
	border:1px solid white;
	border-bottom:3px solid black;
	border-radius:5px;
	width:100%;
	height: 130px;
	background: #90A8CE;
	/*
	background: url("img/black-info.jpg") center;
	background-repeat:no-repeat;
	background-size:cover;	
	*/
	
}
.friend-info-name {
	font-family: Montserrat;
	font-weight: 600 !important;
	font-size:20px;	
	color:black;
	text-align: center;
	padding-top:10px;
	padding-bottom: 5px;
	padding-right: 20px;
}

.friend-info-info {
	font-family: Montserrat;
	font-weight: 600 !important;
	font-size:14px;	
	color:black;
	text-align: center;
	padding-top:10px;
	padding-bottom: 5px;
	padding-right: 20px;
}

.friend-info-status {
	font-family: Montserrat;
	font-weight: 600 !important;
	font-size:14px;	
	color:black;
	text-align: center;
	padding-top:10px;
	padding-bottom: 5px;
	padding-right: 20px;
}

.friend-image {
	width: 128px;
	height: 128px;
	border:3px solid black;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	background: url("img/cube.jpg") center;
	background-repeat:no-repeat;
	background-size:cover;	
	text-align: center;	
	float:left;
	
}



.chat {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	margin-left:10px;
	margin-right: 48px;
	
}


.chat .chat-message {
	width: 100%;
	padding:5px;
	margin: 5px 10px 0;
	border-radius: 10px;	
	color:#fff;
	font-family: Montserrat;
	font-weight: 600 !important;
	font-size:15px;	
	word-wrap: break-word;
	
}

.self-chat-message {
	/*background: #e3e9f2; */
}

.friend-chat-message {
	/*background: #cf9eef */;
	margin-left: 10px;	
}

.chat-holder {
	width:100% ;
	height: 100%;
	border:1px solid red;
}

.send-date {	
	font-family: sans-serif;
	font-weight: 1000 !important;
	font-size:12px;	
	color:black;
	float: right;
}

.send-name-self {
	font-family: Montserrat;
	font-weight: 800 !important;
	font-size:14px;	
	color:darkblue;
	margin-left: 10px;
	margin-bottom: -10px;
	opacity: 0.4;	
}

.send-name-friend {
	font-family: Montserrat;
	font-weight: 800 !important;
	font-size:14px;	
	color:darkblue;
	margin-left: 10px;
	margin-bottom: -10px;
	opacity: 0.4;
}

.send-message-self {
	font-family: Montserrat;
	font-weight: 800 !important;
	font-size:14px;	
	color:darkblue;
}

.send-message-friend {
	font-family: Montserrat;
	font-weight: 800 !important;
	font-size:14px;
	color:#d80a64;
}



.friendlist-border {
	border-style: dashed;
	border:3px solid black;
	border-radius:5px;
	width:100%;
	height: 85vh;
	background: #b6caea;
	padding:4px;
	margin-top:30px;	
}

.close {
	font-family: Montserrat !important;
	font-weight: 800 !important;
	font-size:30px !important;
	padding: 2px !important;
}

.btn-default {
	font-family: Montserrat !important;
	font-weight: 800 !important;
	background: transparent !important;
	color:white !important;
	border:none !important;
}

/* ARKADAS LİSTESİ SELF*/


.user-border {
	width: 100%;
	height:128px;
	border:2px solid black;
	float: left;
	margin-bottom: 5px;
	background: #90a8ce;
}

.profile-image {
}

.profile-self-status {
	width: 102px; /* 102 eski hali */
	height: 102px;
	border:1px solid black;
	border-radius: 10px;
	margin-top: 11px;
	margin-left:3px;
	margin-right:3px;
	background: #41d602;
	float:left;
}

.profile-self-image {
	max-width: 92px; /* 92 eski hali */
	height: 92px;
	border-radius: 10px;
	background: url("img/cat-bg.jpg") center;
	background-repeat:no-repeat;
	background-size:cover;
	margin: 4px;
}

.self-info {		
	float: left;
	padding-top:10px;
	padding-bottom:10px;
}

.profile-self-info input {		
	
}

.profile-self-info .nickname {
	font-family: Montserrat;
	font-weight: 600 !important;
	font-size:20px;
	width: 100%;	
	text-align: center;
	border: none;
	background: transparent;
}

.profile-self-info .about {
	font-family: Montserrat;
	font-weight: 600 !important;
	font-size:14px;
	width: 100%;	
	text-align: center;
	resize: none;
	height: 60px;
	opacity: 0.6;
	background: transparent;
	color:white;
}


.profile-self-info .about::placeholder {
	color:white;
}

.profile-self-info .status {
	font-family: Montserrat;
	font-weight: 600 !important;
	font-size:16px;
	width: 100%;	
	text-align: center;
}


/* ARKADAS LİSTESİ FRIEND */

.friend-border {
	width: 100%;
	height:70px;
	border:1px solid black;
	float: left;
	margin-top: 4px;
	background: #ced2ed;
}

.profile-friend-status {
	width: 62px;
	height: 62px;
	border:1px solid black;
	border-radius: 50%;
	margin-top: 1px;
	margin-left:3px;
	margin-right:3px;
	background: #41d602;
}

.profile-friend-image {
	max-width: 56px;
	height: 56px;
	border-radius: 50%;
	background: url("img/cube.jpg") center;
	background-repeat:no-repeat;
	background-size:cover;
	margin: 2px;
}

.profile-friend-info .name {
	font-family: Montserrat;
	font-weight: 600 !important;
	font-size:15px;
	width: 100%;	
	text-align: center;
	border: none;
}

.profile-friend-info .about {
	font-family: Montserrat;
	font-weight: 600 !important;
	font-size:12px;
	width: 100%;	
	text-align: center;
	resize: none;
	height: 60px;
	opacity: 0.4;
	
}

/* FRIEND REQUEST NOTIFICATION */


.friendlist-info {
	color:white;
	font-family: Montserrat;
	font-weight: 500 !important;
	font-size:11px;	
}

.profile-friend-info-notification {
	width: 100%;
	height:80px;
	border:1px solid black;
	float: left;
	margin-top: 4px;
	background: #ced2ed;
}

.friend-request-notification .get-request{
	font-family: Montserrat;
	font-weight: 600 !important;
	font-size:15px;	
}

.friend-request-notification{
	font-family: Montserrat;
	font-weight: 600 !important;
	font-size:14px;	
}

.glyphicon {
  font-size: 20px;
}


body {	
	
}


